<% layout('../layout/boilerplate') -%>



    <%user=currUser%>

    <table class="table table-primary">
        <thead class="thead-primary">
            <tr>
                <th>Item</th>
                <th>Type</th>
                <th>Price</th>
                <th>Quantity </th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            <% if (order && order.length> 0) { %>
                <% let sum=0; %>
                    <% let weight=0; %>
                        <% order.forEach(orderItem=> { %>
                            <tr>
                                <td>
                                    <%= orderItem.title %>
                                </td>
                                <td>
                                    <%= orderItem.detail.typ %>
                                </td>
                                <td>
                                    <%= orderItem.detail.price.toLocaleString("en-In") %>/<%= orderItem.unit %>
                                </td>
                                <td>
                                    <%= orderItem.quantity.toLocaleString("en-In") %> <%= orderItem.item.unit %>
                                </td>
                                <td>
                                    <%= (orderItem.quantity * orderItem.detail.price).toLocaleString("en-In") %>
                                </td>
                                
                            </tr>
                            <% sum +=orderItem.quantity * orderItem.detail.price; %>
                                <% weight +=parseInt(orderItem.quantity); %>
                                    <% }) %>
                                        <tr>
                                            <td><b>Transport Charge</b></td>
                                            <td></td>
                                            <td></td>
                                            <td></b></td>
                                            <td><b>
                                                    <%= (user.distance * 2).toFixed(2).toLocaleString("en-IN")%>
                                                </b></td>
                                           
                                        </tr>
                                        <tr>
                                            <td><b>Total</b></td>
                                            <td></td>
                                            <td></td>
                                            <td><b>
                                                    <%= (weight).toLocaleString("en-In") %>
                                                </b></td>
                                            <td><b>
                                                    <%= (sum+weight*.15).toLocaleString("en-In") %>
                                                </b></td>
                                           
                                        </tr>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5">No items in the cart</td>
                                            </tr>
                                            <% } %>
        </tbody>
    </table>
    <% if (order && order.length> 0) { %>
    <form method="POST" action="/order/checkout">
        <button class="btn btn-success">Place Your Order</button>
    </form>
    <% } %>

    </div>

   

